[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.1.6"
psycopg2-binary = "==2.8.5"
django-crispy-forms = "==1.8.0"
django-allauth = "==0.40.0"
pillow = "==7.1.0"
stripe = "==2.32.0"
django-debug-toolbar = "==2.0"

[requires]
python_version = "3.7"
